@use 'utils' as *;
@use 'base';
@use 'layout';
@use 'components';
@use 'pages';


body {
    background: $black;
    color: $white;
    font-weight: 400;
    position: relative;
}





h1,
h2 {
    font-weight: 400;
}

img {
    object-fit: cover;
}

.row-reverse {
    flex-direction: row-reverse;
}

.img-noise {
    &::before {
        content: '';
        border-radius: .7rem;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.301);
        background-image: url("https://assets.website-files.com/63cffb7c16ab3347fc9734c8/63d0ce6d97974d332fbc486a_noise.png");
        width: 100%;
        height: 100%;
        inset: 0;
        z-index: 2;
    }
}

.arrow {
    border-radius: 100%;
    border-radius: 100%;
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    background-color: rgba(255, 255, 255, .05);
    border: 1px solid rgba(255, 255, 255, .15);
    border-radius: 50%;
    padding: .5rem;
    overflow: hidden;

    svg {
        width: 1.3rem;
        height: 1.3rem;
    }

    display: grid;
    place-items: center;
}







@keyframes arrHoverTr {
    0% {
        transform: translate(0rem, 0rem);
        opacity: 1;
    }

    50% {
        transform: translate(1.5rem, -1.5rem);
        opacity: 0;

    }

    80% {
        transform: translate(-1.5rem, 1.5rem);
        opacity: 0;
    }

    100% {
        transform: translate(0rem, 0rem);
        opacity: 1;
    }
}


@keyframes arrHoverB {
    0% {
        transform: translate(0rem, 0rem);
        opacity: 1;
    }

    50% {
        transform: translate(0rem, 1.5rem);
        opacity: 0;

    }

    80% {
        transform: translate(0, -1.5rem);
        opacity: 0;
    }

    100% {
        transform: translate(0rem, 0rem);
        opacity: 1;
    }
}