@use 'utils' as *;
@use 'base';
@use 'layout';
@use 'components';
@use 'pages';


body {
    background: $black;
    color: $white;
    font-weight: 400;
    position: relative;
}





h1,
h2 {
    font-weight: 400;
}

img {
    object-fit: cover;
}

.img-noise {
    &::before {
        content: '';
        border-radius: .7rem;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.301);
        background-image: url("https://assets.website-files.com/63cffb7c16ab3347fc9734c8/63d0ce6d97974d332fbc486a_noise.png");
        width: 100%;
        height: 100%;
        inset: 0;
        z-index: 2;
    }
}

.arrow {
    border-radius: 100%;
    border-radius: 100%;
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    background-color: rgba(255, 255, 255, .05);
    border: 1px solid rgba(255, 255, 255, .15);
    border-radius: 50%;
    padding: .5rem;

    svg {
        width: 1.3rem;
        height: 1.3rem;
    }

    display: grid;
    place-items: center;
}



.card {
    background: $v-dark-gray;
    border-radius: .5rem;
    padding: 1.5rem 1rem;
    cursor: pointer;
    @include flex($direction: column);

    &:hover {
        background: $dark-gray;
    }

    &__img {
        position: relative;
        aspect-ratio: 4 / 3;
        margin-bottom: 1rem;

        img {
            object-fit: cover;
            border-radius: .5rem;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;

        .logo {
            width: 1.5rem;
            height: 1.5rem;
        }


    }

    &__tag {
        z-index: 1;
        position: absolute;
        border-radius: 100%;
        -webkit-backdrop-filter: blur(2rem);
        backdrop-filter: blur(2rem);
        background-color: rgba(255, 255, 255, .05);
        border: 1px solid rgba(255, 255, 255, .15);
        border-radius: .2rem;
        padding: .3rem 1rem;
        bottom: 1rem;
        left: 1rem;
    }

    &__title {
        font-size: 1.3rem;
        text-transform: uppercase;
        color: $white;
        margin-bottom: .5rem;
        font-weight: 400
    }

    &__subtitle {
        font-size: 1rem;
        color: $white;
        text-transform: uppercase;
    }

    &__body {
        color: $muted;
        margin: .8rem 0rem;
        font-size: .9rem;
    }


    &__footer {
        display: flex;
        align-items: center;
        gap: 0rem .7rem;
        text-transform: uppercase;
        margin-top: 1.3rem;


    }

    @media screen and (min-width:48rem) {
        padding: 2rem 1.5rem;

        &__body {
            margin: 1.2rem 0rem;
        }
    }

    @media screen and (min-width:64rem) {
        padding: 2.5rem 1.5rem;
    }
}

.contact {
    padding: 1rem 2rem;
    background: $dark-yellow;
    color: $black;
    margin: 1rem;
    border-radius: .5rem;
    font-weight: 400;

    h4 {
        text-transform: uppercase;
    }

    p {
        font-size: clamp(2.3rem, 1.7541rem + 2.4954vw, 4rem);
        text-transform: uppercase;
        line-height: 1.2;
        margin: 1rem 0rem;
        max-width: 70%;
    }

    button {
        background: $black;
        color: $white;
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: .8rem 1.5rem;
        width: 100%;
        justify-content: center;
        border-radius: .5rem;
        text-transform: uppercase;

        .arrow {
           border: none;
            backdrop-filter: filter(0px);
            background: none;
        }
    }

    @media screen and (min-width:48rem) {
        p {
            max-width: 90%;
        }
    }

    @media screen and (min-width:64rem) {
        padding: 3rem 2rem;

        div {
            display: flex;
            gap: 2rem;

            p {
                flex: 3 1 0;
            }

            button {
                flex: 1 1 0;
                align-self: flex-end;
                margin-bottom: 2rem;
            }
        }


    }
}