@use '../utils' as * ;

.home-news {
    padding: 1rem;

    &__title {
        font-size: 1.8rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        gap: 1.5rem 2rem;

    }

    .card {
        letter-spacing: 1px;


        &__img {
            .arrow {
                position: absolute;
                top: 50%;
                left: 50%;
                // transform: translate(-50%, -50%);
                z-index: 5;
                transition: transform .3s ease-in-out, ;
                transform: scale(0);
            }

            &:hover {
                .arrow {
                    transform: scale(1);
                }
            }
        }

        &__text {
            font-size: 1rem;
        }

        &__footer {
            transition: transform .3s ease-in-out, ;

            &:hover {
                .arrow {
                    overflow: hidden;

                    svg {
                        @include arrowAnim($name: arrHoverTr)
                    }
                }
            }
        }

        &__title {
            text-transform: capitalize
        }
    }

    @media screen and (min-width:64rem) {
        padding: 2rem 1rem;
    }
}