@forward 'button';
@forward 'hero';
@forward 'loader';
@forward 'accordion';
@forward 'cart';
@forward 'card';
@forward 'cart-item';
@forward 'project';
@forward 'contact';


//HOME PAGE
@forward 'home-services';
@forward 'home-about';
@forward 'home-projects';
@forward 'home-socials';
@forward 'home-news';