@use '../utils' as *;

.project {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;


    &__about {
        flex: 1 1 13rem;
    }

    &__img {
        flex: 1 1 13rem;
        position: relative;
        aspect-ratio: 1 / 1;

        img {
            border-radius: .5rem;

        }

        &[data-image="2"] {
            display: none;
        }
    }

    .card {
        padding: 1.5rem;

        &__title {
            font-size: 1.8rem;
        }

        &__body {
            margin-bottom: 4rem;
        }
    }

    @media screen and (min-width:48rem) {

        .card {
            height: 100%;

            &__title {
                font-size: 2.5rem;
            }

            &__footer {
                margin-top: auto;
            }
        }

        &__img {}
    }

    @media screen and (min-width:64rem) {
        &__img {
            &[data-image="2"] {
                display: block;
            }
        }
    }
}