@use '../utils/' as *;

.shop {
    padding: 1rem;

    &__grid {
        display: grid;

        gap: 2rem;
    }

    &__title {
        font-size: clamp(1.7rem, 0.8009rem + 4.1101vw, 4.2rem);
        margin: 1rem 0rem;

    }

    .product {
        &__price {
            display: flex;
            align-items: center;
            gap: 0rem 1rem;
        }
    }

    .card {
        padding: 1rem;
        &__img {
            aspect-ratio: 3 / 3.2;
        }

        &__text {
            font-weight: 500;
            font-size: 1rem;
            color: $white;
        }

        &__body {
            margin-bottom: 0;
        }

        .strike-through {
            font-weight: 400;
            color: $muted;
            display: inline;
        }

    }

    @media screen and (min-width:30rem) {

        &__grid {
            grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        }
    }

    @media screen and (min-width:64rem) {
        &__title {
            padding-left: 4rem;
            margin-bottom: 3rem;
        }
    }
}

