@use '../utils' as *;

.header {
    display: flex;
    align-items: center;
    gap: 0rem 1rem;
    padding: 1rem 1.2rem .5rem 1.2rem;
    position: sticky;
    top: 0;
    background: $black;
    z-index: 10;


    &__logo {
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: capitalize;
        margin-right: auto;
    }


    &__nav {
        display: none;
    }

    &__toggle {
        background: $v-dark-gray;
        padding: .6rem 1rem;
        border-radius: .5rem;

        svg {
            width: 1.8rem;
            height: 1.8rem;
            stroke-width: .05px;
        }
    }

    .button {
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        gap: 0rem .5rem;
        font-weight: 400;


    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 1rem;


        .cart-count {
            background: $dark-yellow;
            color: $dark-gray;
            border-radius: 100%;
            padding: .1rem .5rem;
            font-weight: 400;
            font-size: 1rem;
            font-size: .95rem;
        }

    }

    .mobile-nav {
        position: fixed;
        top: 4.5rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        background: $black;
        z-index: 5;
        @include flex($direction: column);
        gap: .5rem 0rem;
        padding: 1rem 1rem;
        text-transform: uppercase;
        text-align: center;
        font-size: .9rem;
        overflow: hidden;
        clip-path: inset(0% 0% 100% 0%);
        transition: clip-path .4s ease-in-out;

        &.active {
            clip-path: inset(0% 0% 0% 0%);
        }

        &__link {
            background: $v-dark-gray;
            padding: .3rem;
            font-weight: 400;
            transition: all .2s ease-in-out;

            &:hover {
                background: $dark-yellow;
                color: $black;
            }

        }
    }


    @media screen and (min-width:30rem) {
        &__nav {
            @include flex($align: center);
            gap: 0rem 1rem;
        }

        &__toggle {
            display: none;
        }
    }

    @media screen and (min-width:64rem) {
        padding-inline: 2rem;
    }

}