@mixin flex($direction: row, $align: stretch, $justify: stretch) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin arrowAnim($name) {
    animation: .5s 1 linear $name;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}